body{
	font-family: "맑은 고딕","고딕","굴림";
}

#wrap{
	width: 800px;
	margin: 0 auto;
}

header{
	width: 100%; /*부모인 #wrap을 기준으로 100%라는 의미*/
	height: 150px;
	background: url("../images/nav2.png") no-repeat right center #f46070;
	/*css파일이 있는 곳을 기준으로 url을 작성 */
}

header nav{
	float: left;
	width: 70%;
	margin-top: 50px;
}

nav ul{
	list-style: none;
}


nav ul li{
	display: inline;
	float: left;
	font-weight: bold;
	margin: 15px;
}


nav ul li a{
	color: white;
	text-decoration: none;
}

footer p{
	padding: 20px;	

}

h2{
	font-size: 1.2em;
}

h3{
	font-size: 1.0em;
}

p{
	line-height: 20px;
	font-size: 10pt;
}

section{
	float: left;
	width: 580px;
	padding: 5px;
}

section article{
	float: left;
	width: 250px;
	height: 220px;
	margin: 5px;
	padding: 10px;
	border: 1px solid #ccc;
}

aside{
	float: right;
	width: 200px;
	height: auto;
	margin-top: 80px;
	border: 1px solid darkgreen;
	text-align: center;
}

footer{
	clear: both;
	width: 800px;
	margin-bottom: 0px;
	background-color: #333;
	text-align: center;
	color: white;	
}

#at1:hover{
	background-color: #cf9;
	border: 1px solid green;
	
}
#at2:hover{
	background-color: #a2d0ff;
	border: 1px solid blue;
	
}
#at3:hover{
	background-color: #ebcbfe;
	border: 1px solid purple;
	
}
#at4:hover{
	background-color: #fc3;
	border: 1px solid red;
}

#at1,#at2,#at3,#at4{
	transition:2s;
}